@charset "UTF-8";
/* CSS Document */

.navbar{
	position: fixed;
	top:0px;
	color: white;
	border-bottom: 1px solid white;
	background-color: none;
	text-decoration: none;
	z-index: 50;
	
}


#introduction{
	position: fixed;
	background-image: url(../image/volunteer_intro.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	height: 700px;

}

#introduction p{
	color: white;
	position: relative;
	top: 75%;
	font-size: 2em;
	
}

.section{
	height: 550px;
}

#search{
	margin-top: 700px;
	background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

#search img{
	position: relative;
	top: 25%;
	left: 20%;
}

#search h1{
	position: relative;
	top: 14%;
	color: #330867;
}

.search_button{
	position: relative;
	top: 35%;
	
}

.btn-search{
	background-color: #330867;
	border: #5E0EBE;
	text-decoration: none;
    font-weight: normal;
	color: white; 
	width: 150px;
	
}

.btn-search:hover{
	color:#DEC8FA;
}

#publish{
	background-image: url(../image/publish.gif);
	background-blend-mode: darken;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	z-index: 0;
	
}

#publish h1{
	color: white;
	font-weight: bold;
	z-index: 10;
	position: relative;
	top:30%;
}

.btn-publish{
	position: relative;
	top: 300px;
	text-decoration: none;
    font-weight: normal;
	color: white; 
	width: 130px;
	border: 1px solid white;
	border-radius: 4px;
	
	
}

.btn-publish:hover{
	color: #D4D4D4;
	
	
}

footer{
	background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
	height: 250px;
}